.CharactersList {
  background-color: rgb(24, 4, 43);
  padding: 10px;
  margin: 50px;
  border-radius: 10px;
}

.CharactersList__title {
  color:antiquewhite;
}

.CharactersList__list {
  font-weight: bold;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.CharactersList__item {
  list-style: none;
  padding: 10px;
  margin: 10px 25px;
  border-radius: 5px;
  background-color: seagreen;

  width: 25%;
}

.search {
  outline: none;
  margin: 20px;
}

.search:focus {
  background-color: rgb(102, 194, 224);
  outline: none;
}
